body {
    background: linear-gradient(lavender, white);
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    border: thin solid wheat;
    border-radius: 50%;
}

main {
    text-align: center;
}