body {
    background: linear-gradient(lavender, white);
    font-family: 'Courier New', Courier, monospace;
}

header {
    text-align: center;
    border: thick solid wheat;
}

h2 {
    text-align: center;
}
